<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title style="text-align:center; font-family:'Courier New', Courier, monospace">
      <h1>Guide Rates</h1>
    </ion-title>
  </ion-item>
  <div *ngIf="rates?.length > 0">
    <div *ngFor="let rate of rates">
      <div>
        <ion-item>
          <ion-label>
            <a [routerLink]="['/guide-profile/'+ rate.guideId]" style="text-decoration:none">{{rate.guideId}} - Rs. {{rate.value}}/Hr</a>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>